@{
    ViewData["Title"] = "User Post";
}
<html>
<head>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color:gray">
    <form>

        <p>
            <strong>User:</strong><br />
            <input type="text" name="Issue" size="40" maxlength="150" />


        <p>
            <strong>:Compiler or Runtime Error</strong><br />
            <input type="text" name="CRE" size="40" maxlength="150" />


        <p>
            <strong>Go into deep Detail about whats going on.</strong><br />
            <textarea name="post_issue" rows="4" cols="100" wrap="hard"></textarea>
    </form>
    <div>
        <textarea name="post_issue" rows="4" cols="100" wrap="hard"></textarea>
    </div>
    <div>
        <textarea name="post_issue" rows="4" cols="100" wrap="hard"></textarea>
    </div>
    <div>
        <textarea name="post_issue" rows="4" cols="100" wrap="hard"></textarea>
    </div>
</body>
</html>